  - job_name: "node-exporter-{{ node_name }}"

    scrape_interval: 500ms

    proxy_url: "http://{{ url }}"
    metrics_path: "/metrics"
    static_configs:
      - targets: [ "node-exporter.local" ]
        labels:
          application: "node-exporter"
          node: "{{ node_name }}"

  - job_name: "cadvisor-{{ node_name }}"

    scrape_interval: 500ms

    proxy_url: "http://{{ url }}"
    metrics_path: "/metrics"
    static_configs:
      - targets: [ "cadvisor.local" ]
        labels:
          application: "cadvisor "
          node: "{{ node_name }}"

  - job_name: "rocksdb-{{ node_name }}"

    scrape_interval: 500ms
    scrape_timeout: 400ms

    static_configs:
      - targets: [ "{{ target_address }}:{{ target_port }}" ]
        labels:
          application: "rocksdbBenchmark"
          node: "{{ node_name }}"